@model NewPokemon.Models.PokemonModel

<div class="card" style="width: 18rem;" id="cardSpace">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">@Model.pkmnNumber</li>
    <li class="list-group-item">@Model.name</li>
    <li class="list-group-item">@Model.description</li>
  </ul>
</div>